---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="QR Codes For Free - Generate Your Custom Codes Now!"
  description="The easiest way to create highly customizable QR codes for free. Perfect for personal or business use."
>
  <main>
    <h1>Generate Your Free QR Code</h1>
  </main>
</Layout>
