---
import { Icon } from "astro-icon/components";
import headerMenu from "../config/headerMenu.json";

interface HeaderMenuItem {
  name: string;
  url: string;
}
---

<div x-data="{ open: false }" class="relative">
  <header class="bg-white">
    <div
      class="mx-auto flex h-16 max-w-screen-xl items-center gap-8 px-4 sm:px-6 lg:px-8"
    >
      <a class="block text-teal-600" href="/">
        <span class="sr-only">Home</span>
        <Icon name="tabler:qrcode" size={40} />
      </a>

      <div class="flex flex-1 items-center justify-end md:justify-between">
        {/* Desktop Navigation */}
        <nav aria-label="Global" class="hidden md:block">
          <ul class="flex items-center gap-6 text-sm">
            {
              (headerMenu as HeaderMenuItem[]).map((item) => (
                <li>
                  <a
                    class="text-gray-500 transition hover:text-gray-500/75"
                    href={item.url}
                  >
                    {item.name}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>

        <div class="flex items-center gap-4">
          {/* Mobile Navigation */}
          <button
            class="block rounded-sm bg-gray-100 p-2.5 text-gray-600 transition hover:text-gray-600/75 md:hidden"
            @click="open = !open"
            aria-expanded="false"
            aria-controls="mobile-menu"
          >
            <span class="sr-only">Toggle menu</span>
            <Icon name="tabler:menu-2" size={26} />
          </button>
        </div>
      </div>
    </div>

    <nav
      id="mobile-menu"
      class="absolute top-full z-10 w-full bg-white shadow-md md:hidden"
      x-bind:aria-expanded="open.toString()"
      x-show="open"
      x-transition:enter="transition ease-out duration-300"
      x-transition:enter-start="opacity-0 -translate-y-4"
      x-transition:enter-end="opacity-100 translate-y-0"
      x-transition:leave="transition ease-in duration-200"
      x-transition:leave-start="opacity-100 translate-y-0"
      x-transition:leave-end="opacity-0 -translate-y-4"
      x-cloak
    >
      <div class="px-4 py-2">
        <ul class="flex flex-col gap-4 text-sm">
          {
            (headerMenu as HeaderMenuItem[]).map((item) => (
              <li>
                <a
                  class="block py-2 text-gray-700 transition hover:text-gray-900"
                  href={item.url}
                  @click="open = false"
                >
                  {item.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </nav>
  </header>
</div>
