---
import { Icon } from "astro-icon/components";
import siteConfig from "../config/siteConfig.json";

const navLinks = [
  { name: "Home", url: "/" },
  { name: "About", url: "/#about" },
  { name: "FAQ", url: "/#faq" },
  { name: "Contact", url: "/#contact" },
  { name: "Blog", url: "/blog" },
];

const currentPath = Astro.url.pathname;
const isHomepage = currentPath === "/";
---

<header
  class="sticky top-0 z-50 border-b border-gray-200 bg-white/80 backdrop-blur-md"
>
  <nav
    class="mx-auto flex max-w-7xl items-center justify-between p-4 lg:px-8"
    aria-label="Global"
  >
    <a href="/" class="-m-1.5 p-1.5">
      <span class="sr-only">{siteConfig.siteName}</span>
      <div class="flex h-8 w-auto items-center text-xl font-bold text-gray-800">
        <span class="text-teal-600">
          <Icon name="tabler:qrcode" size={35} /></span
        >
        <span>{siteConfig.siteName}</span>
      </div>
    </a>
    <div class="hidden lg:flex lg:gap-x-8">
      {
        navLinks.map((link) => {
          const href =
            link.url.startsWith("/#") && isHomepage
              ? link.url.substring(1)
              : link.url;

          return (
            <a
              href={href}
              class="text-sm leading-6 font-semibold text-gray-900 transition-colors hover:text-teal-600"
            >
              {link.name}
            </a>
          );
        })
      }
    </div>
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const navLinks = document.querySelectorAll('header a[href^="#"]');

    navLinks.forEach((link) => {
      link.addEventListener("click", (event) => {
        event.preventDefault();

        const linkElement = event.currentTarget as HTMLAnchorElement;
        const targetId = linkElement.getAttribute("href");

        if (targetId) {
          const targetElement = document.querySelector(targetId);
          if (targetElement) {
            targetElement.scrollIntoView({
              behavior: "smooth",
              block: "start",
            });
          }
        }
      });
    });
  });
</script>
